@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model VariantFormModel

<h4>@ViewBag.Heading</h4>
<form asp-controller="Admin" asp-action="AddProductVariant"  method="post">
    
   <label asp-for="ColorId"></label><br></br>
   <input asp-for="ColorId"></input><br></br>
     <label asp-for="FsImage1Url"></label><br></br>
   <input asp-for="FsImage1Url"></input><br></br>
     <label asp-for="FsImage2Url"></label><br></br>
   <input asp-for="FsImage2Url"></input><br></br>
     <label asp-for="HsImage1Url"></label><br></br>
   <input asp-for="HsImage1Url"></input><br></br>
     <label asp-for="HsImage2Url"></label><br></br>
   <input asp-for="HsImage2Url"></input><br></br>
    <label asp-for="SizeId"></label><br></br>
   <input asp-for="SizeId"></input><br></br>
    <label asp-for="Price"></label><br></br>
   <input asp-for="Price"></input><br></br>
   <button type="submit">Add</button>
</form>

